#experience {
    width: 100%;
    padding-top: 10%;
    display: flex;
}
#work_experience {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5%;
}
#work_experience h1{
     margin-right: 30%;
    text-align: right; 
    width: auto;
}
#education{
    margin-left: 5%;
}
.experience_card{
    padding: 3% 5% 3% 0%;
    /* float: right; */
    align-self: flex-end;
}
#work_experience .experience_card{
    /* margin-right: auto; */
}