#portfolio {
    padding-top: 10%;
    width: 100%;
    display: block;
    
}

#portfolio h1 {
    justify-self: center;
}

#inner_navbar {
    display: flex;
    justify-content: center;
    box-shadow: none;
}

#inner_navbar button {
  float: left;
  display: block;
  color: black;
  background-color: #FFFF;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: large;
  box-shadow: none;
  border: none;
}

#inner_navbar .selected{
    border-bottom: 3px solid #00BBCC;
}

#inner_navbar button:hover {
  background-color: whitesmoke;
  color: #00BBCC;
}

#inner_navbar button:active {
  border-style: none;
}

#projects {
    /* margin-top: 5%; */
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.project{
  margin: 50px;
  overflow: hidden;
  margin-bottom: auto;
  border-radius: 25px;
  background-color: #00BBCC;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.1);
}
.project#circle{
  height: 575px;
  background-image: url("../images/circle_view_detail.png");
}
.project#noom{
  height: 176px;
  background-image: url("../images/noom_view_detail.png");
  
}
.project#simple_python_game{
  height: 279px;
  background-image: url("../images/simple_python_game_view_detail.png");
}

.project a{
    text-decoration: none;
}

#projects img {
    width: 300px;
}

#projects :hover {
  box-shadow: none;
}

#projects img:hover{
  filter:opacity(0.3);
}